* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #242424;
    margin: 0px 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.search-container {
    width: 100%;
    position: relative;
    margin: 10px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: rgb(124, 124, 124);
}
#search-bar::placeholder {
    color: #000000;
}
.results-container {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: rgb(158, 204, 231);
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    display: none;
}
.result-box {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.result-box:last-child {
    border-bottom: none;
}
.result-box:hover {
    background-color: rgb(71, 177, 238);
}
.result-title {
    font-weight: bold;
}
.result-description {
    color: #000000;
}
.competitions-container {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(158, 204, 231);
    font-size: large;
}
